<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="bg-gray-900 text-white p-10">
    <div class="form flex flex-col items-center gap-4 mb-10">
        <h1 class="text-2xl font-bold">Edit Task</h1>
        <form action="/edit/<%= filename %>" method="post" class="flex flex-col items-center gap-4">
            <input class="rounded-lg bg-gray-700 placeholder:text-gray-500 px-4 py-2" type="text" name="title" value="<%= filename.replace('.txt', '') %>">
            <textarea class="rounded-lg bg-gray-700 w-full placeholder:text-gray-500 px-4 py-2 resize-none"
                placeholder="Enter a description..." name="description"><%= filedata %></textarea>
            <div class="flex gap-4">
                <button type="submit" class="bg-blue-500 w-32 rounded-lg p-2">Save</button>
                <a href="/" class="bg-gray-600 w-32 rounded-lg p-2 text-center block">Cancel</a>
            </div>
        </form>
    </div>
</body>

</html>
